./muster
dist/
.muster/config.yaml
.muster/mcpservers/*.yaml
.muster/serviceclasses/*.yaml
.muster/workflows/*.yaml
.muster/workflow_executions/*.yaml
.cursor/mcp.json

# Added by Task Master AI
# Logs
logs
*.log
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store 