apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muster.fullname" . }}-config
  labels:
    {{- include "muster.labels" . | nindent 4 }}
data:
  config.yaml: |
    aggregator:
      host: "0.0.0.0"
      port: {{ .Values.muster.aggregator.port }}
      transport: {{ .Values.muster.aggregator.transport | quote }}
    namespace: {{ include "muster.namespace" . | quote }}
